<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>把RSS轉成HTML</title>
  </head>

  <body>

    <div class="article-list"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="rss2html.js"></script>

  </body>
</html>
